<form method="post" id="editItem" accept-charset="utf-8" ng-submit='saveEdit()' >
  <div style="display:none;">
    <input type="hidden" name="_method" ng-model="form._method"  value="POST" >
  <input type="hidden" name="_csrfToken" ng-model="form._csrfToken"  autocomplete="off" value="8a41651563dc2170674f7866d8a131fb3c49619051e5f182202dc6ae17c8636cdb8fb027e39424b9b90adafc8bc5dd58a85ae80da93d8358dc50ba74936c7946"></div>    
  <fieldset>
        <legend>Editar Tarefa</legend>
        <div class="input text required form-group">
          <label for="titulo">Titulo</label>
          <input type="text" name="titulo" ng-model="form.titulo" class="form-control" required maxlength="100" id="titulo">
        </div>
        <div class="input text required">
          <label for="descricao">Descricao</label>
          <input type="text" name="descricao" ng-model="form.descricao" class="form-control" required maxlength="100" id="descricao" >
        </div>
        <div class="input number required">
          <label for="prioridade">Prioridade</label>
          <input type="number" name="prioridade" ng-model="form.prioridade"  class="form-control" required id="prioridade">
        </div>    
    </fieldset>
    <div class="input text required form-group button-modal">
      <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary btn-lg float-right">Submit</button> 
    </div>   
</form>